/*General Styles */
body{
font-family: Arial, sans-serif;
text-align: center;
background-color: #222;
color: white;
padding: 20px;
margin: 0;
}

/*Game Container*/
.game-container{
background-color: #333;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(255,255,255, 0.1);
max-width: 400px;
margin: 0 auto;

}

/*Choice Buttons*/
.choices button{
font-size: 20px;
padding: 10px 20px;
margin: 10px;
cursor: pointer;
border: none;
border-radius: 5px;
background: #444;
color: white;
transition: background 0.3s;

}

/*Result Text*/
.result{

}
/*History*/
.history{

}
/*Reset Button*/
.reset-btn {

}
/*ResetButton Hover */
.reset-btn:hover{

}